// out: ../css/style.css

// COLORS
$Orange: rgb(255,153,51);
$Blue: rgb(35,135,158);
$Slate: rgb(49,53,64);
$Grey: rgb(125,125,125);
$DkGrey: rgb(69,69,69);
$MedGrey: rgb(200,200,200);
$LtGrey: rgb(242,242,242);
$White: #ffffff;

$Yellow: rgb(255,193,51);
$Red: rgb(255,75,51);
$Green: rgb(38,191,78);
$Brown: rgb(187,136,68);

// FONTS
$bodyFont: 'Abel', sans-serif;
$headerFont: 'Museo Sans', sans-serif;
$leading: 1.5em;

// GRID = 12 COLUMNS
$container-width: 100%;
@import "stylesheets/sass/style.css";

// INPUTS
%hero-style {
  background-size: cover !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  width: 100%;
}

/* HIDING UNTIL I FIGURE OUT RESPONSIVE */
.navbar-button, .hide, h4 .fa {
  display: none;
}

/* GENERAL STYLES */
body {
  background: $LtGrey;
  color: $Grey;
  line-height: $leading;
  font-family: $bodyFont;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

p {
  color: $Grey;
  font-family: $bodyFont;
  clear: both;
}

p span { color: $Orange; font-weight: bold; }

footer { background: $Orange; color: $White; padding: 1em 0; position: relative; bottom: 0; }

section {
  padding: 1.5em 0 2.5em;
  clear: both;
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  &::first-child {
    margin: 25% auto;
  }
}

/* LINKS */
a { text-decoration: none; color: $Blue; transition: all 0.3s;}
a:hover { color: $Orange; }

.button {
  background: none;
  color: $Blue;
  border-radius: 1000px;
  border: 2px solid $Blue;
  padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
  transition: all 0.5s;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.15em;
  display: inline-block;
  margin: 1.5em;
  font-weight: bold;
/*  @include span-columns(4);
  @include shift(4); */
}

.button:hover {
  background: $Blue;
  color: $White;
}

.fa { color: $White !important; transition: all 0.3s; }
.fa:hover { color: $Blue !important; }

/* HEADINGS */
h1, h3, h5 {
  font-family: $headerFont;
  color: lighten($Slate, 10%);
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

h2, h4, h6 {
  font-family: $bodyFont;
  color: $Orange;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: normal;
  margin-bottom: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.3;
}

.hr-xs {
  width: 50px;
  border-bottom: 5px solid $MedGrey;
  border-left: none;
  border-top: none;
  border-right: none;
  margin: 1em auto;
}

/* GRID */
.container {
  width: $container-width;
}

/* NAVIGATION */
.navbar {
  background: #ffffff;
  border-bottom: 3px solid #ff9933;
  padding: 0.5em;
  height: inherit;
  position: relative;
  z-index: 100;
  margin-bottom: 0 !important;
}

#navbar-menu {
  padding: 0.25em 0.1em 0.1em;
  margin: 0;
  li {
    display: inline;
    list-style-type: none;
    margin: 0 0.5em;
  }
}

#logo img {
  max-width: 250px;
}

.navbar-right {
  float: right;
}

.nav-top a {
  color: $Grey;
  transition: all 0.5s;
}

.nav-top a:active, .nav-top a:hover {
  color: $Orange;
}

/* HERO AREA */
.intro {
  min-height: 95%;
  max-height: 100%;
  height: 1px;
  text-align: center !important;
  background-image: url('../img/hero-SRFloridaSpring.jpg');
  @extend %hero-style;
  position: relative;
  z-index: 1;
  padding: 0 !important;
  display: table;
.hero {
  background: rgba(49,53,64,0.7);
  display: table-cell;
  vertical-align: middle;
  p {
    font-size: 1.2em;
    padding: 0 10px;
    }
  }
}

.hero h1, .hero p { color: $White !important; }

.hero .button { color: $Orange; border: 2px solid $Orange; }
.hero .button:hover { background: $Orange; color: $White; }
.jump-down { display: block; position: relative; bottom: 0; }

/* PARTNERS */
.partners {
  background: $White;
  position: relative;
  z-index: 500;
}

/* QUOTES */
.quotes {
  background: url('../img/hero-TMTC.jpg');
  height: 25em;
  @extend %hero-style;
  padding: 0 !important;
  display: table;
  blockquote {
    color: $White;
    border: none;
    font-size: 2.5em;
    padding: 0 50px;
    line-height: 1.3;
  }
  cite {
    color: $DkGrey;
    display: block;
    font-style: normal;
    font-size: 0.8em;
    font-variant: small-caps;
  }
}

.quotes .container {
  background: rgba(255,153,51,0.7);
  height: inherit;
  display: table-cell;
  vertical-align: middle;
}

/* BLOGPOSTS */
#blog-teasers {
  margin: 2.5em;
}

.blog-box {
  // float: left;
  width: 350px;
  margin: -0.5em 2.5em 0.5em;
}

.blog-excerpt {
  background: #ffffff;
  padding: 1em 1.5em 1.5em;
  margin-top: -0.5em;
}

.meta {
  color: #c8c8c8;
}

.blog .button {
  position: relative;
  clear: both;
}

/* WHO WE ARE */
.about {
  background: url('../img/hero-people.png');
  height: 20em;
  @extend %hero-style;
  padding: 0 !important;
  display: table;
}

.party {
  display: table-cell;
  vertical-align: middle;
}
.highlight {
  color: $White;
  background: $Orange;
  display: inline;
  line-height: 1.75;
  padding: 0.1em 0.3em;
}

.about .button { text-shadow: 0 1px solid #666; }

/* FOOTER LINKS */
.nav-bottom {
  background: $Slate;
}

.nav-bottom a { color: rgb(153,160,166); }
.nav-bottom a:hover { color: $Blue; }

/* .footer-group {
  // float: left;
  width: auto;
  height: auto;
  margin: 2.5em;
  display: inline;
} */

/* .nav-bottom:last-child {
  float: right;
  clear: both;
} */

.footer-group, .footer-links {
  text-align: left;
}

.footer-group {
  padding: 0.5em 1.5em;
}

.footer-menu {
  padding: 0;
}
