
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gameface Media</title>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/jamieswork/owlcarousel/assets/owl.carousel.css">
      <%= stylesheet_link_tag :new_site, media: "all" %>

    <script src="//use.typekit.net/klc1aqn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body>
    <!-- NAVIGATION MENU -->
    <header class="navigation">
        <div class="navbar">
            <a id="logo" href="#"><img src="/jamieswork/img/GFlogo_bk.png" alt="Gameface Media" /> </a>

            <a href="" class="navbar-button" id="js-mobile-menu">MENU</a>

            <div class="navbar-right">
                <ul id="navbar-menu">
                  <li class="nav-top"><a href="#">Home</a></li>
                  <li class="nav-top"><a href="#">Find Photos</a></li>
                  <li class="nav-top"><a href="#">Legacy Collection</a></li>
                  <li class="nav-top"><a href="#">Stock Photos</a></li>
                </ul>
            </div>

          <!--  <a class="button" href="#">Log In</a> -->
       </div>

    </header>

    <!-- INITIAL HERO AREA -->
    <section class="intro" id="home-hero">
       <div class="hero">
         <h1>Looking for your best gameface?</h1>
         <p>All Gameface photos are available <span>5 days</span> after the event.</p>

         <a class="button" href="#">Find Your Photos</a>
         <!-- the 'jump down' button to scroll to next section -->
         <a href="#home-partners" class="jump-down"><i class="fa fa-chevron-down fa-5x"></i></a>
       </div>
    </section>

    <!-- PARTNER LOGOS -->
    <section class="partners" id="home-partners">
      <h1>OUR PARTNERS</h1>
      <hr class="hr-xs" />

      <div class="container">
          <div class="large-50 medium-100 small-100">
            <h2>EVENTS</h2>
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
            <div class="hide">
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
            </div>
          </div>

          <div class="large-50 medium-100 small-100">
            <h2>BRANDS</h2>
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
            <div class="hide">
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
              <img src="/jamieswork/img/logo-ph.png" alt="placeholder logo" />
            </div>
          </div>
      </div>

      <a class="button" href="#">Want Your Logo Here?</a>
    </section>

    <!-- TESTIMONIALS -->
    <section class="quotes" id="home-quotes">
			<div class="color-overlay"></div>
			<div class="container">
				<div id="quote-slider" class="owl-carousel">
					<div class="item">
					  	<!-- quote text -->
					  	<blockquote>Once again, INFREAKINGCREDIBLE photos! I cannot wait to share these!
						<!-- quote author -->
						<cite>Deby W.</cite></blockquote>
					</div>

				   	<div class="item">
				  		<!-- quote text -->
				  		<blockquote>Thank You! I LOVED the photos! Most of all thank you for not charging! These pictures are priceless!
						<!-- quote author -->
						<cite>Brenda O.</cite></blockquote>
				  	</div>
				</div>
			</div>
		</section>

    <!-- BLOGPOSTS -->
    <section class="blog" id="home-blog">
      <h1>LATEST BLOGPOSTS</h1>
      <hr class="hr-xs" />
      <h2>Stories of the badass everyday athlete, spotlight interviews, and more.</h2>

      <div class="container">
        <div id="blog-teasers" class="blog-carousel">

            <div class="blog-box">
              <img src="/jamieswork/img/blog-thumb.png" alt="thumbnail" />
              <div class="blog-excerpt">
                <h3 class="post-title">World Photography Day</h3>
                <p class="meta">by <a href="#">Gameface Media</a> on <a href="#">August 19, 2015</a></p>
                Etsy bespoke seitan keytar, squid culpa fingerstache. Id forage et banh mi roof party church-key, four loko flexitarian.
              </div>
            </div>

            <div class="blog-box">
              <img src="/jamieswork/img/blog-thumb.png" alt="thumbnail" />
              <div class="blog-excerpt">
                <h3 class="post-title">Meet Kseniya</h3>
                <p class="meta">by <a href="#">Gameface Media</a> on <a href="#">August 18, 2015</a></p>
                Etsy bespoke seitan keytar, squid culpa fingerstache. Id forage et banh mi roof party church-key, four loko flexitarian.
              </div>
            </div>

            <div class="blog-box">
              <img src="/jamieswork/img/blog-thumb.png" alt="thumbnail" />
              <div class="blog-excerpt">
                <h3 class="post-title">I Left My Heart in SF</h3>
                <p class="meta">by <a href="#">Jamie</a> on <a href="#">August 10, 2015</a></p>
                Etsy bespoke seitan keytar, squid culpa fingerstache. Id forage et banh mi roof party church-key, four loko flexitarian.
              </div>
            </div>

        </div>
      </div>

      <a class="button" href="#">View All Posts</a>
    </section>

    <!-- WHO WE ARE -->
    <section class="about" id="home-about">
      <div class="party">
        <h2 class="highlight">Gameface Media is the largest publisher of free amateur sports photos.</h2>
        <br />
        <a class="button" href="#">Join the Party</a>
      </div>
    </section>

    <!-- FOOTER LINKS MENU -->
    <section class="nav-bottom" id="nav-footer">
      <div class="footer-group">
        <h4>Company <i class="fa fa-angle-down"></i></h4>
          <ul class="footer-menu">
            <li class="slate-links"><a href="#">Our Story</a></li>
            <li class="slate-links"><a href="#">Our Team</a></li>
            <li class="slate-links"><a href="#">Press</a></li>
            <li class="slate-links"><a href="#">Blog</a></li>
          </ul>
      </div>

      <div class="footer-group">
        <h4>Work With Us <i class="fa fa-angle-down"></i></h4>
          <ul class="footer-menu">
            <li class="slate-links"><a href="#">Event Directors</a></li>
            <li class="slate-links"><a href="#">Brand Advertisers</a></li>
            <li class="slate-links"><a href="#">Photographers</a></li>
            <li class="slate-links"><a href="#">Jobs</a></li>
          </ul>
      </div>

      <div class="footer-group">
        <h4>Help &amp; Support <i class="fa fa-angle-down"></i></h4>
          <ul class="footer-menu">
            <li class="slate-links"><a href="#">Find Your Photos</a></li>
            <li class="slate-links"><a href="#">Customer Support</a></li>
            <li class="slate-links"><a href="#">Privacy Policies</a></li>
            <li class="slate-links"><a href="#">Contact Us</a></li>
          </ul>
      </div>
    </section>

    <!-- TRUE FOOTER -->
     <footer>
      <div class="large-75 small-100">
       &copy; Gameface Media 2013 — 2015 &middot; Photos courtesy of Gameface Media
      </div>

      <div class="large-25 small-100">
       <a href="#" class="social"><i class="fa fa-facebook"></i></a>
       <a href="#" class="social"><i class="fa fa-twitter"></i></a>
       <a href="#" class="social"><i class="fa fa-instagram"></i></a>
       <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
     </div>
     </footer>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="/jamieswork/owlcarousel/owl.carousel.min.js"></script>

 <script type="text/javascript">
     $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
        margin:10,
        dots:true,
        loop:true,
        center:true,
        items:1,
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true,
        responsive:{
            0:{
                items:1,
                nav:true
            },
            600:{
                items:1,
                nav:false
            },
            1000:{
                items:1,
                loop:false
            }
        }
      });

      $(".blog-carousel").owlCarousel({
        margin:10,
        dots:true,
        loop:true,
        items:3,
        responsive:{
            0:{
                items:1,
                nav:true,
                loop:false
            },
            600:{
                items:2,
                nav:false
            },
            1000:{
                items:3,
                nav:true,
                loop:false
            }
        }
      });
    });
 </script>

  </body>
</html>
