@import url(stylesheets/sass/style.css);
.intro, .quotes, .about {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  width: 100%; }

/* HIDING UNTIL I FIGURE OUT RESPONSIVE */
.navbar-button, .hide, h4 .fa {
  display: none; }

/* GENERAL STYLES */
body {
  background: #f2f2f2;
  color: #7d7d7d;
  line-height: 1.5em;
  font-family: "Abel", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center; }

html, body {
  height: 100%;
  overflow-x: hidden; }

p {
  color: #7d7d7d;
  font-family: "Abel", sans-serif;
  clear: both; }

p span {
  color: #ff9933;
  font-weight: bold; }

footer {
  background: #ff9933;
  color: white;
  padding: 1em 0;
  position: relative;
  bottom: 0; }

section {
  padding: 1.5em 0 2.5em;
  clear: both; }
  section ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
  section::first-child {
    margin: 25% auto; }

/* LINKS */
a {
  text-decoration: none;
  color: #23879e;
  transition: all 0.3s; }

a:hover {
  color: #ff9933; }

.button {
  background: none;
  color: #23879e;
  border-radius: 1000px;
  border: 2px solid #23879e;
  padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
  transition: all 0.5s;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.15em;
  display: inline-block;
  margin: 1.5em;
  font-weight: bold;
  /*  @include span-columns(4);
    @include shift(4); */ }

.button:hover {
  background: #23879e;
  color: white; }

.fa {
  color: white !important;
  transition: all 0.3s; }

.fa:hover {
  color: #23879e !important; }

/* HEADINGS */
h1, h3, h5 {
  font-family: "Museo Sans", sans-serif;
  color: #474d5d;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 0; }

h2, h4, h6 {
  font-family: "Abel", sans-serif;
  color: #ff9933;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: normal;
  margin-bottom: 0; }

h1 {
  font-size: 2em;
  line-height: 1.3; }

.hr-xs {
  width: 50px;
  border-bottom: 5px solid #c8c8c8;
  border-left: none;
  border-top: none;
  border-right: none;
  margin: 1em auto; }

/* GRID */
.container {
  width: 100%; }

/* NAVIGATION */
.navbar {
  background: #ffffff;
  border-bottom: 3px solid #ff9933;
  padding: 0.5em;
  position: relative;
  z-index: 100; }

#navbar-menu {
  padding: 0.25em 0.1em 0.1em;
  margin: 0; }
  #navbar-menu li {
    display: inline;
    list-style-type: none;
    margin: 0 0.5em; }

#logo img {
  max-width: 250px; }

.navbar-right {
  float: right; }

.nav-top a {
  color: #7d7d7d;
  transition: all 0.5s; }

.nav-top a:active, .nav-top a:hover {
  color: #ff9933; }

/* HERO AREA */
.intro {
  min-height: 100%;
  height: 1px;
  text-align: center !important;
  background-image: url("/jamieswork/img/hero-SRFloridaSpring.jpg");
  position: relative;
  z-index: 1;
  padding: 0 !important;
  display: table; }

.hero {
  background: rgba(49, 53, 64, 0.7);
  min-height: 100%;
  display: table-cell;
  vertical-align: middle; }
  .hero p {
    font-size: 1.2em;
    padding: 0 10px; }

.hero h1, .hero p {
  color: white !important; }

.hero .button {
  color: #ff9933;
  border: 2px solid #ff9933; }

.hero .button:hover {
  background: #ff9933;
  color: white; }

.jump-down {
  display: block;
  position: relative;
  bottom: 0; }

/* PARTNERS */
.partners {
  background: white; }

/* QUOTES */
.quotes {
  background: url("/jamieswork/img/hero-TMTC.jpg");
  height: 25em;
  padding: 0 !important;
  display: table; }
  .quotes blockquote {
    color: white;
    border: none;
    font-size: 2.5em;
    padding: 0 50px;
    line-height: 1.3; }
  .quotes cite {
    color: #454545;
    display: block;
    font-size: 0.8em;
    font-variant: small-caps; }

.quotes .container {
  background: rgba(255, 153, 51, 0.7);
  height: inherit;
  display: table-cell;
  vertical-align: middle; }

/* BLOGPOSTS */
#blog-teasers {
  margin: 2.5em; }

.blog-box {
  width: 350px;
  margin: -0.5em 2.5em 0.5em; }

.blog-excerpt {
  background: #ffffff;
  padding: 1em 1.5em 1.5em;
  margin-top: -0.5em; }

.meta {
  color: #c8c8c8; }

.blog .button {
  position: relative;
  clear: both; }

/* WHO WE ARE */
.about {
  background: url("/jamieswork/img/hero-people.png");
  height: 20em;
  padding: 0 !important;
  display: table; }

.party {
  display: table-cell;
  vertical-align: middle; }

.highlight {
  color: white;
  background: #ff9933;
  display: inline;
  line-height: 1.75;
  padding: 0.1em 0.3em; }

.about .button {
  text-shadow: 0 1px solid #666; }

/* FOOTER LINKS */
.nav-bottom {
  background: #313540; }

.nav-bottom a {
  color: #99a0a6; }

.nav-bottom a:hover {
  color: #23879e; }

/* .footer-group {
  // float: left;
  width: auto;
  height: auto;
  margin: 2.5em;
  display: inline;
} */
/* .nav-bottom:last-child {
  float: right;
  clear: both;
} */
.footer-group, .footer-links {
  text-align: left; }

.footer-group {
  padding: 0.5em 1.5em; }

.footer-menu {
  padding: 0; }

/* FOOTER
.footer-group {
  @include span-columns(4);
}
@include media($mobile) {
  .footer-group { @include span-columns(12);}
}
*/
